body {
    margin: 0;
    font-size: 0.87rem;
    font-weight: inherit;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

:root {
    --primary_color: black;
    --second_color: #282a35;
    
}

.wrapper {
    max-width: 75rem;    
    margin: 0 auto;
}

.main_header{
    padding: 0.1rem;
}


.main_header::after{
    clear: both;
    content: "";
    display: table;
}
.main_header > div{
    float: left;
}
.main_header > div:first-child {
    width: 43%;
}
.main_header > div:nth-child(2) {
    width: 25%;
}
.main_header > div:last-child {
    width: 32%;
}


/* ######## first column ######## */

.first_col{
    padding: 0.37rem;
}
.first_col::after{
    clear: both;
    content: "";
    display: table;
}
.first_col > div{
    float: left;
}


.logo > a{
    display: block;
    padding-left: 0.5rem;
}

.logo > a > img{
    display: block;
}

/* .menu_mobile{
    padding-left: 1.5rem;
} */
.menu_mobile > button {
    display: block;
}

.menu_mobile > button > span{
    cursor: pointer;
    font-size: 0.9rem;
    padding-left: 2rem;
}
.menu_mobile > button > span > svg {
    padding-top: 0.4rem;    
}

.menu_list_desk{
    display: none;
}

@media screen and (min-width: 620px) {
    .main_header > div:first-child {
        width: 28%;
    }
    .main_header > div:nth-child(2) {
        width: 38%;
    }
    .main_header > div:last-child {
        width: 34%;
    }    
}
@media screen and (min-width: 620px) {
    .menu_mobile{
        padding-left: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .main_header > div:first-child {
        width: 42%;
    }
    .main_header > div:nth-child(2) {
        width: 21%;
    }
    .main_header > div:last-child {
        width: 37%;
    }
}
@media screen and (min-width: 1200px) {
    .menu_mobile{
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .menu_list_desk {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .menu_list_item{
        display: block;
    }
    .menu_list_item > li{
        display: inline-block;
        padding-left: 1.3rem;
    }
    .menu_list_item > li > a{
        font-size: 0.8rem;
    }
    .menu_list_item > li > a > svg{
        padding-top: 0.5rem;
    }
    .menu_list_item > li:first-child {
        padding-left: 2.2rem;
    }
}

/* ######## second column ######## */

.second_col > div {
    float: left;
}
.second_col{
    padding: 0.85rem 0.85rem 0.85rem 0.4rem;
}
.second_col::after{
    clear: both;
    content: "";
    display: table;
}

.search_mobile{
    padding-right: 1.6rem;
}

.search_mobile > button{
    display: block;
}

.search_mobile > button > svg{
    display: block;
}

.search_input{
    display: none;
}

.mode > button > svg{
    display: block;
}

@media screen and (min-width: 620px) {
    .second_col{
        padding: 0.6rem 0 0.3rem 0;
    }
}

@media screen and (min-width: 620px) {
    .search_mobile{
        padding: 0rem 1.5rem 0rem 0.6rem;
        height: 2.3rem;
    }
    .search_mobile > button{
        float: right;
        position: relative;
        right: 0.4rem;
        bottom: 1.9rem;
    }
}

@media screen  and (min-width: 620px) {
    .search_input{
        display: block;

    }
    .search_input > input {
        border-radius: 1.56rem;
        padding: 0.5rem;
        width: 11rem;
        font-size: 1rem;
        border: 1px solid #bfbfbf;
    }
}

@media screen and (min-width: 620px) {
    .mode{
    padding-top: 0.4rem;
    }
}


@media screen and (min-width: 1200px) {
    .search_mobile{
        padding-left: 1rem;
    }
    /* .search_mobile > button{

    } */
}

/* ######## third column ######## */

.third_col{
    padding: 0.4rem;
}
.third_col > div {
    float: left;
}
.third_col::after{
    clear: both;
    content: "";
    display: table;
}

.right_list_desk{
    display: none;
}

.signup{
    display: none;
}
/* .login{

} */
.login > a {
    background-color: #d9eee1;
    border-radius: 1.37rem;
    padding: 0.68rem 1.5rem 0.68rem 1.5rem ;
    display: block;
}

@media screen and (min-width: 620px) {
    .third_col{
        position: relative;
    }
}
@media screen and (min-width: 620px) {
    .signup{
        display: block;
        position: absolute;
        left: 2.3rem;
    }
    .signup > a{
        background-color: #04aa6d;
        border-radius: 22px;
        padding: 0.68rem 1.31rem 0.68rem 1.31rem;
        color: #fff;
        display: block;
    }
}
@media screen and (min-width: 620px) {
    .login{
        position: absolute;
        z-index: -1;
        left: 6.2rem;
    }
    .login > a{
        padding: 0.68rem 1.25rem 0.68rem 2.25rem ;
    }
}


@media screen and (min-width: 1200px) {
    .right_list_desk{
        display: block;
    } 
    .right_list_desk > nav > a{
        padding-left: 1.3rem;
        display: block;
        float: left;
    }
    .right_list_desk > nav{
        padding-top: 0.8rem;
        display: inline-block;
    }
}
@media screen and (min-width: 1200px) {
    .signup{
        position: absolute;
        padding-left: 14rem;
    }  
}
@media screen and (min-width: 1200px) {
    .login{
        position: absolute;
        padding-left: 14rem;
    }
}

/* ########### list bar mobile ########### */

.mobile_bar{
    background-color: #282a35;
    padding: 1rem 0rem;
}
.mult_sign::after{
    clear: both;
    content: "";
    display: table;
}

.mult_sign{
    background-color: #282a35;
    padding-bottom: 1rem;
    padding-right: 1.2rem;
}
.mult_sign > svg{
    display: block;
    float: right;
}

@media screen and (min-width: 620px) {
    .mult_sign{
    padding: 1rem 1rem 1rem 0rem;

    }
}

.tutorial_line{
    background-color: #fff;
    padding: 1.3rem;
    font-size: 19px;
    padding-left: 2rem;
}

.tutorial_line > svg{
    float: right;
}

.first_title{
    color: #fff4a3;
    padding: 2rem 0 1rem 2.5rem;
}

.first_title > h1 {
    font-weight: inherit;
    font-size: 1.25rem;
}

.submenu{
    padding-left: 2rem;
    color: #fff;
}
.submenu > li{
    padding: 0.5rem;
}

.submenu > li > a{
    color: #fff4a3;
    padding: 1px 8px 1px 8px;
    border: 1px solid #fff4a3;
    border-radius: 0.62rem;
    margin-left: 0.5rem;
    opacity: 0.9;
}

.mobile_list > ul> li > a{
    color: #fff;
    padding-left: 2.5rem;
    font-size: 1.12rem;
}

.mobile_list > ul > li:not(:first-child){
    padding: 1rem 0 1rem 0rem;
    border-bottom: 1px solid #43444a;
}
.mobile_list> ul > li > svg{
    float: right;
    margin-right: 1.5rem;
}

@media screen and (min-width: 1200px) {
    .mobile_bar{
        display: none;
    }
}