body {
    font-family: "Arial";
    margin: 0;
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url();
}


a {
    text-decoration: none;
    color: #000;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

:root {
    --primary_color: black;
    --second_color: #282a35;
    
}

.wrapper {
    padding: 0 0.5rem 0 0.5rem;
}

.main_header{
    position: fixed;
    width: 98%;
}
.main_header::after{
    clear: both;
    content: "";
    display: table;
}
.main_header > div{
    float: left;
}
.main_header > div:first-child {
    width: 43%;
}
.main_header > div:nth-child(2) {
    width: 25%;
}
.main_header > div:last-child {
    width: 32%;
}


/* ######## first column ######## */

.first_col > div{
    float: left;
}

.logo_home{
    padding-top: 0.6rem;
    padding-left: 0.2rem;
}

.menu_mobile{
    padding-left: 1.5rem;
    padding-top: 0.6rem;
}

.menu_mobile > button{
    cursor: pointer;
    font-size: 0.9rem;
}
.menu_mobile > button > svg {
    padding-top: 0.4rem;    
}

.menu_list_desk{
    display: none;
}

@media screen and (min-width: 620px) {
    .main_header > div:first-child {
        width: 28%;
    }
    .main_header > div:nth-child(2) {
        width: 37%;
    }
    .main_header > div:last-child {
        width: 35%;
    }
    .menu_mobile{
        padding-left: 1.8rem;
    }
    
}

@media screen and (min-width: 1200px) {
    .main_header > div:first-child {
        width: 42%;
    }
    .main_header > div:nth-child(2) {
        width: 21%;
    }
    .main_header > div:last-child {
        width: 37%;
    }
    .menu_mobile{
        display: none;
    }
    .menu_list_desk {
        display: block;
    }
    .menu_list_desk > ul{
        padding-top: 0.7rem;
    }
    .menu_list_desk > ul > li{
        float: left;
        padding-left: 1.1rem;
    }
    .menu_list_desk > ul > li > a{
        font-size: 16px;
    }
    .menu_list_desk > ul > li > a > svg{
        padding-top: 0.5rem;
    }
}

/* ######## second column ######## */

.second_col > div {
    float: left;
}

.search_mobile > button{
    padding-right: 1.2rem;
    padding-top: 1rem;
    padding-left: 0.2rem;
}

.search_input{
    display: none;
}

.mode{
    padding-top: 1rem;
}

@media screen  and (min-width: 620px) {
    .search_input{
        display: block;
        padding-left: 0.3rem;
        padding-top: 0.6rem;
    }
    .search_input > input {
        border-radius: 25px;
        padding: 10px;
        width: 11rem;
    }
    /* .search_mobile{

    } */
    .search_mobile > button{
        float: right;
        position: relative;
        right: -1rem;
        top: -3rem;
    }

    .mode{
        padding-top: 1.2rem;
        padding-left: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .search_mobile{
        padding-left: 1rem;
    }
    .search_mobile > button{
    position: relative;
    right: -1rem;
    top: -3rem;
    }
}

/* ######## third column ######## */

.third_col > div {
    float: left;
}

.right_list_desk{
    display: none;
}

.signup{
    display: none;
}
.login{
    padding-top: 1rem;
}
.login > a {
    background-color: #d9eee1;
    border-radius: 22px;
    padding: 11px 29px 11px 29px ;
}

@media screen and (min-width: 620px) {
    .signup{
        display: block;
        padding: 1.2rem 0 0.93rem 0.5rem;
    }
    .signup > a{
        background-color: #04aa6d;
        border-radius: 22px;
        padding: 11px 21px 11px 21px;
    }
    .login{
        padding-left: 0.1rem;
    }

}

@media screen and (min-width: 1200px) {
    .right_list_desk{
        display: block;
    }
    .right_list_desk > nav > a{
        float: left;
    }   
    .right_list_desk > nav > a{
        padding-left: 1.1rem;
    }
    .right_list_desk > nav{
        padding-top: 1.2rem;
    }
    .signup{
        padding-left: 1rem;
    }
    /* .login{

    } */
}

/* ########### list bar ########### */

